<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Secret</key>
	<string>3bb75acbc67eb558</string>
	<key>ApiKey</key>
	<string>b79de7c934de465563915f4cba45636f</string>
</dict>
</plist>
